* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $black;
    font-family: 'Amatic SC', cursive;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light_pink;
    position: relative;
}